<template>
  <div class="sponsors_filter"  @click="$emit('action')" :class="{blok: open === true}">
    <div class="sponsors_filter_card" @click.stop>
       <div class="title">
        <p>Filter</p>
        <svg @click="$emit('action')" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       </div>
       <div class="select">
            <label for="">Ariza holati</label>
            <select name="" id="">
                <option value="">Barchasi</option>
                <option value="">Yangi</option>
                <option value="">Moderatsiyada</option>
                <option value="">Tasdiqlangan</option>
                <option value="">Bekor qilingan</option>
            </select>
        </div>
         <h3>To‘lov summasi</h3>
        <div class="pay">
            <button 
                v-for="(item, i) in price"
                :key="i"
                @click="buttonActive = i"
                :class="{button_active: i === buttonActive}"
            >{{ item }}<span v-if="item !== 'boshqa'">Uzs</span>
                <svg class="btn_check" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#2E5BFF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8466 7.69213L8.86419 13.7093C8.47889 14.0969 7.85513 14.0969 7.47082 13.7093L4.97183 11.1968C4.58752 10.8093 4.58752 10.1819 4.97183 9.79434C5.35712 9.40779 5.98088 9.40779 6.36519 9.79434L8.16751 11.6071L13.4532 6.29065C13.8375 5.90312 14.4613 5.90312 14.8466 6.29065C15.2319 6.6772 15.2319 7.30459 14.8466 7.69213Z" fill="white"/>
                </svg>
            </button>
        </div>
        <div class="data">
            <label for="">sana</label>
            <div class="data_inputs">
                <input type="date" placeholder="kk.oo.yyyy - kk.oo.yyyy"> - <input type="date" placeholder="kk.oo.yyyy - kk.oo.yyyy">
            </div>
            
        </div>
        <div class="btns">
            <button class="btn_clear">
                <span class="icon icon-clear"></span>
                Tozalash
            </button>
            <button class="btn_result">
                <span class="icon icon-eye"></span>
                Natijalarni ko‘rish
            </button>
        </div>
    </div>
  </div>
</template>

<script>

export default {
    name:'HomeModal',
    props:{
        open: {
            type: Boolean,
            default: () => false
        }
    },
    data() {
        return{
            buttonActive: null,
            price: [
                'boshqa',
               '1 000 000',
                '5 000 000',
                '7 000 000',
                '10 000 000',
                '30 000 000',
                '50 000 000',
            ]
        }
    }
}
</script>

<style lang='scss'>
.sponsors_filter{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 30;
    display: none;
    & .sponsors_filter_card{
        background: #fff;
        width: 500px;
        height: 500px;
        border-radius: 12px;
        padding: 28px;
        padding-left: 32px;
        .title{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 25px;
            border-bottom: 2px solid #F5F5F7;
            p{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
            svg{
                cursor: pointer;
            }
        }
        .select{
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            label{
                margin-bottom: 8px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                color: #1D1D1F;
            }
            select{
                width: 100%;
                height: 40px;
                background: #F9FAFF;
                border: 1px solid #2E5BFF;
                border-radius: 5px;
                padding: 8px 16px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
            }
        }
        h3{
            margin-top: 25px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            text-transform: uppercase;
            color: #1D1D1F;
            margin-bottom: 16px;
        }
         .pay{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 25px;
            button{
                width: 102px;
                height: 48px;
                background: #FFFFFF;
                border: 1px solid #E0E7FF;
                border-radius: 5px;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
                font-weight: normal;
                color: #2E384D;
                position: relative;
                transition: .3s;
                .btn_check{
                    width: 16px;
                    height: 16px;
                    display: none;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                }
                span{
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #2E5BFF;
                    padding-bottom: 5px;
                    margin-left: 4px;
                    &:last-child{
                        display: none;
                    }
                }
            }
            .button_active{
                border: 2px solid #2E5BFF;
                .btn_check{
                    display: block;
                }
            }
        }
        .data{
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 8px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                color: #1D1D1F;
            }
            .data_inputs{
                display: flex;
                width: 50%;
                 height: 40px;
                background: rgba(224, 231, 255, 0.2);
                border: 1px solid #E0E7FF;
                border-radius: 6px;
                input{
                    padding: 8px 16px;
                    color: #B2B7C1;
                    font-weight: 400;
                    font-size: 15px;
                }
            }
            
        }
        .btns{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            .btn_result{
                background: #3366FF;
                box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
                border-radius: 5px;
                padding: 9px 28px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #fff;
                span{
                    margin-right: 5px;
                }
            }
            .btn_clear{
                padding: 7px 28px;
                border: 1px solid #B2B7C1;
                color: #B2B7C1;
                border-radius: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                span{
                    margin-right: 5px;
                }
                
            }
        }
    }

}
.blok{
    display: flex;
}
</style>
