<template>
  <div class="sponsor_edit"  @click="$emit('action')" :class="{blok: open === true}">
    <div class="sponsor_edit_card" @click.stop>
       <div class="title">
        <p>Tahrirlash</p>
        <svg @click="$emit('action')" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       </div>
        <div class="input_box">
            <label for="">F.I.Sh. (Familiya Ism Sharifingiz)</label>
            <input type="text" v-model="post.name" placeholder="Familiya ism sharifingiz">
        </div>
        <div class="input_box">
            <label for="">Telefon raqam</label>
            <input type="text" v-model="post.tel"  placeholder="+998 000 00 00">
        </div>
        <div class="input_box">
            <label for="">Holati</label>
            <select name="" id="" v-model="post.condition">
                <option value="Tasdiqlangan">Tasdiqlangan</option>
                <option value="Yangi">Yangi</option>
                <option value="Moderatsiyada">Moderatsiyada</option>
                <option value="Bekor qilingan">Bekor qilingan</option>
            </select>
        </div>
        <div class="input_box">
            <label for="">Homiylik summasi</label>
            <select name="" id="" v-model="post.price">
                <option v-for="item in price"
                :key="item" :value="item">{{ item }}</option>
            </select>
        </div>
         <div class="input_box">
            <label for="">To‘lov turi</label>
            <select name="" id="">
                <option value="Pul o‘tkazmalari">Pul o‘tkazmalari</option>
                <option value="Plastik">Plastik</option>
                <option value="Terminal">Terminal</option>
                <option value="Naqd">Naqd</option>
            </select>
        </div>
        <div class="hr"></div>
        <button class="save_btn" @click="save">
            <span class="icon icon-save"></span>
            Saqlash
        </button>
    </div>
  </div>
</template>

<script>
// import talaba from '@/talaba.js'
export default {
    name:'HomeModal',
    props:{
        open: {
            type: Boolean,
            default: () => false
        }
    },
    data() {
        return{
            buttonActive: null,
            postId: this.$route.params.sponsorId,
            tableData:  JSON.parse(localStorage.getItem('homiy') || '[]'),
            price: [
                'boshqa',
                '1 000 000',
                '5 000 000',
                '7 000 000',
                '10 000 000',
                '30 000 000',
            ]
        }
    },
    computed: {
        post() {
            return this.tableData.find(post => post.id == this.postId)
        }
    },
    methods:{
        save() {
            let homiyLocal =  JSON.parse(localStorage.getItem('homiy') || '[]')
            homiyLocal.map((item) => {
                if (item.id == this.postId){
                    item.name = this.post.name
                    item.tel = this.post.tel
                    item.price = this.post.price
                    item.condition = this.post.condition
                }
            })
            // talaba.push({...this.post})
            localStorage.setItem('homiy', JSON.stringify(homiyLocal));
            //  console.log(this.post, 'post');
            //  console.log(talaba, 'talaba');
             this.$emit('edit-save')
        }

    }
}
</script>

<style lang='scss'>
.sponsor_edit{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 30;
    display: none;
    & .sponsor_edit_card{
        background: #fff;
        width: 550px;
        height: 550px;
        border-radius: 12px;
        padding: 28px;
        padding-left: 32px;
        padding-top: 23px;
        .title{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 15px;
            border-bottom: 2px solid #F5F5F7;
            p{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
            svg{
                cursor: pointer;
            }
        }
        .input_box{
            width: 100%;
            margin-top: 13px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
            }
            input, select{
                margin-top: 3px;
                width: 100%;
                height: 40px;
                background: rgba(224, 231, 255, 0.2);
                border: 1px solid #E0E7FF;
                border-radius: 6px;
                padding: 10px 16px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
            }
            input{
                &::placeholder{
                    color: #2e384db2;
                }
            }
        }
        // .hr{
        //     border: 2px solid #F5F5F7;
        //     margin: 25px 0;
        // }
        .save_btn{
            padding: 10px 34px;
            color: #fff;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
            border-radius: 5px;
            background: #3366FF;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-left: 330px;
            margin-top: 14px;
            span{
                margin-right: 10px;
            }
        }
    }

}
.blok{
    display: flex;
}
</style>
