<template>
  <div class="home">
    <site-header/>
    <site-bar/>
    <div class="pay container">
        <home-pay
        v-for="(item, i) in payData"
        :key="i" 
        :imgUrl="item.imgUrl"
        :price="item.price"
        :text="item.text"
        />
    </div>
    <div class="container chart">
        <home-chart :dataChart="chartData" :labels="labels" :dataChart2="chartData2"/>
    </div>
  </div>
</template>

<script>
import SiteHeader from '@/components/SiteHeader.vue'
import SiteBar from '@/components/SiteBar.vue'
import HomePay from '@/components/HomeComponent/HomePay.vue'
import HomeChart from '@/components/HomeComponent/HomeChart.vue'
export default {
  components: { SiteHeader, SiteBar, HomePay, HomeChart },
    data() {
        return{

            payData: [
                {
                    imgUrl: require('@/assets/img/money1.png'),
                    text: 'Jami to‘langan summa',
                    price: '1 684 325 000'
                },
                {
                    imgUrl: require('@/assets/img/money2.png'),
                    text: 'Jami so‘ralgan summa',
                    price: '14 098 530 000'
                },
                {
                    imgUrl: require('@/assets/img/money3.png'),
                    text: 'To‘lanishi kerak summa',
                    price: '12 414 205 000'
                },
            ],
            labels: [
                'Yanvar',
                'Fevral',
                'Mart',
                'Aprel',
                'May',
                'Iyun',
                'Iyul',
                'Avgust',
                'Sentabr',
                'Oktabr',
                'Noyabr',
                'Dekabr',
            ],
            chartData: [
                150, 900, 500, 600, 1000, 2500, 2000, 1150, 300, 1000, 600, 3000,
            ],
            chartData2: [
                1150, 900, 500, 600, 1000, 2500, 2000, 1150, 300, 1000, 600, 1000,
            ],
        }
    }
}
</script>

<style lang="scss" scoped src='./HomeView.scss'>

</style>