.home{
    background: #E5E5E5;
    height: auto;
    .pay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 48px;
    }
    .chart{
        padding-bottom: 30px;
    }
}