<template>
  <div class="sponsors">
    <site-header/>
    <site-bar @filter="filterOpen = true"/>
    <students-table :tableHeader="tableHeader" :tableData="tableData"/>
    <students-filter :open="filterOpen" @action="filterOpen = false"/>
  </div>
</template>

<script>
import SiteHeader from '@/components/SiteHeader.vue'
import SiteBar from '@/components/SiteBar.vue'
import StudentsTable from '@/components/StudentsComponent/StudentsTable.vue'
import StudentsFilter from '@/components/StudentsComponent/StudentsFilter.vue'
import talaba from '@/talaba.js'

export default {
    name: 'StudentsView',
    components: { SiteHeader, SiteBar, StudentsTable, StudentsFilter },
    data() {
      return{
        filterOpen: false,
        tableHeader: [
          '#', 'f.i.sh.', 'Talabalik turi', 'OTM', 'Ajratilingan summa', 'Kontrakt miqdori', 'Amallar'
        ],
        tableData: talaba,
      }
    },
    mounted() {
      // debugger
      if(localStorage.getItem('talaba')) {
        let talabalar =  JSON.parse(localStorage.getItem('talaba') || '[]')
        this.tableData = talabalar
      }  else{
        this.tableData = talaba
        localStorage.setItem('talaba', JSON.stringify(this.tableData ));
      }
    }
}
</script>

<style lang="scss" scoped src="./StudentsView.scss">

</style>