<template>
  <div class="sponsors">
    <site-header/>
    <site-bar @filter="filterOpen = true"/>
    <sponsors-table :tableHeader="tableHeader" :tableData="tableData"/>
    <sponsors-filter :open="filterOpen" @action="filterOpen = false"/>
  </div>
</template>

<script>
import SiteHeader from '@/components/SiteHeader.vue'
import SiteBar from '@/components/SiteBar.vue'
import SponsorsTable from '@/components/SponsorsComponent/SponsorsTable.vue'
import SponsorsFilter from '@/components/SponsorsComponent/SponsorsFilter.vue'
import homiy from '@/homiy.js'

export default {
    name: 'SponsorsView',
    components: { SiteHeader, SiteBar, SponsorsTable, SponsorsFilter },
    data() {
        return{
            filterOpen: false,
            tableHeader: [
                '#', 'f.i.sh.', 'Tel.Raqami', 'Homiylik summasi', 'Sarflangan summa', 'Sana', 'Holati', 'Amallar'
            ],
            tableData: homiy,
        }
    },
    mounted() {
      // debugger
      if(localStorage.getItem('homiy')) {
        this.tableData  =  JSON.parse(localStorage.getItem('homiy') || '[]')
      }  else{
        this.tableData = homiy
        localStorage.setItem('homiy', JSON.stringify(this.tableData ));
      }
    }
}
</script>

<style lang="scss" scoped src="./SponsorsView.scss">

</style>