<template>
  <div class="sponsor_add"  @click="$emit('sponsor-add')" :class="{blok: open === true}">
    <div class="sponsor_add_card" @click.stop>
       <div class="title">
        <p>Homiy qo‘shish</p>
        <svg @click="$emit('sponsor-add')" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       </div>
        <div class="input_box">
            <label for="">F.I.Sh. (Familiya Ism Sharifingiz)</label>
            <select name="" id="" v-model="sponsorName">
                <option value="">Homiyni tanlang</option>
                <option value="Sanginov Otabek Muratovich">Sanginov Otabek Muratovich</option>
                <option value="Nazarov Sanjar Olimovich">Nazarov Sanjar Olimovich</option>
                <option value="Ibragimov Sohib Mirfayozovich">Ibragimov Sohib Mirfayozovich</option>
                <option value="Ishmuhammedov Aziz Ishqobilovich">Ishmuhammedov Aziz Ishqobilovich</option>
                <option value="Qosimov Furqat Xabibullayevich">Qosimov Furqat Xabibullayevich</option>
                <option value="Ortiqov Abror Bahodirovich">Ortiqov Abror Bahodirovich</option>
            </select>
        </div>
        <div class="input_box">
            <label for="">Kontrakt miqdori</label>
            <input type="text" v-model="sponsorprice" placeholder="30 000 000 UZS" >
        </div>
        <div class="hr"></div>
        <div class="btns">
            <button class="save_btn" @click="save">
                <span class="icon icon-save"></span>
                Saqlash
            </button>
            <button class="clear_btn">
                 <span class="icon icon-udalit"></span>
                 Homiyni o‘chirish
            </button>
        </div>
       
    </div>
  </div>
</template>

<script>
// import talaba from '@/talaba.js'
export default {
    name:'HomeModal',
    props:{
        open: {
            type: Boolean,
            default: () => false
        }
    },
    data() {
        return{
            buttonActive: null,
            postId: this.$route.params.id,
            tableData:  JSON.parse(localStorage.getItem('talaba') || '[]'),
            
            sponsorName: '',
            sponsorprice: '0',
        }
    },
    methods:{
        save() {
            if(this.sponsorName.length > 0 && this.sponsorprice.length > 0 ) {
                this.tableData.find(item => {
                    if (item.id == this.postId) {
                        item.sponsor = []
                        item.sponsor.push(this.sponsorName)
                        item.sponsor.push(this.sponsorprice)
                        console.log(item.sponsor, 'sponsor');
                    }
                })
                localStorage.setItem('talaba', JSON.stringify(this.tableData));
                this.sponsors.sponsorName = '',
                this.sponsors.price = ''
                this.$emit('sponsor-add')
            }  else {
                return
            }
        }

    }
}
</script>

<style lang='scss'>
.sponsor_add{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 30;
    display: none;
    & .sponsor_add_card{
        background: #fff;
        width: 550px;
        height: 380px;
        border-radius: 12px;
        padding: 28px;
        padding-left: 32px;
        padding-top: 23px;
        .title{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 18px;
            border-bottom: 2px solid #F5F5F7;
            p{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
            svg{
                cursor: pointer;
            }
        }
        .input_box{
            width: 100%;
            margin-top: 20px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
            }
            input, select{
                margin-top: 5px;
                width: 100%;
                height: 40px;
                background: rgba(224, 231, 255, 0.2);
                border: 1px solid #E0E7FF;
                border-radius: 6px;
                padding: 10px 16px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
            }
            input{
                &::placeholder{
                    color: #2e384db2;
                }
            }
        }
        .hr{
            border: 1px solid #F5F5F7;
            margin: 25px 0;
        }
        .btns{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .save_btn{
                padding: 11px 34px;
                color: #fff;
                box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
                border-radius: 5px;
                background: #3366FF;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                span{
                    margin-right: 10px;
                }
            }
            .clear_btn{
                padding: 11px 34px;
                color: #fff;
                background: #FFECEB;
                border-radius: 5px;
                color: #FF4945;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                span{
                    margin-right: 10px;
                }
            }
        }
        
    }

}
.blok{
    display: flex;
}
</style>
