<template>
  <div class="students_table container">
    <button class="btn_plus" @click="$router.push('/student-add')">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.9999 11.9999H4.00007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 4V19.9999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        Talaba qo‘shish
    </button>
    <ul class="students_table_header ul">
        <li v-for="(header, idx) in tableHeader" :key="idx">{{ header }}</li>
    </ul>
    <ul class="students_table_body ul" >
        <li v-for="(item, i) in tableData" :key="i">
            <p class="item_id">{{ item.id }}</p>
            <h4 class="item_name">{{ item.name }}</h4>
            <p class="item_tur">{{ item.tur }}</p>
            <p class="item_otm">{{ item.otm }}</p>
            <h4 class="item_price">{{ item.price }} <span>uzs</span></h4>
            <h4 class="item_kontrakt">{{ item.kontrakt }}<span>uzs</span></h4>
            
            <svg 
            @click="$router.push({ name: 'students-eye', params: {id: item.id} })"
            class="item_eye" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.4" d="M23.855 11.3917C21.5954 6.98292 17.1221 4 12 4C6.87789 4 2.40331 6.985 0.144977 11.3921C0.0496613 11.5806 0 11.7889 0 12.0002C0 12.2115 0.0496613 12.4198 0.144977 12.6083C2.40456 17.0171 6.87789 20 12 20C17.1221 20 21.5966 17.015 23.855 12.6079C23.9503 12.4194 24 12.2111 24 11.9998C24 11.7885 23.9503 11.5802 23.855 11.3917ZM12.0058 18H12C10.4097 17.9992 8.88485 17.3669 7.76077 16.2419C6.63669 15.117 6.00542 13.5917 6.00581 12.0015C6.0062 10.4112 6.6382 8.88618 7.76283 7.76182C8.88746 6.63747 10.4126 6.00583 12.0029 6.00583C13.5932 6.00583 15.1183 6.63747 16.243 7.76182C17.3676 8.88618 17.9996 10.4112 18 12.0015C18.0004 13.5917 17.3691 15.117 16.245 16.2419C15.1209 17.3669 13.5961 17.9992 12.0058 18Z" fill="#3366FF"/>
            <path d="M15.8608 13.0363C15.7247 13.5433 15.4899 14.0186 15.1698 14.4347C14.8497 14.8509 14.4506 15.1998 13.9955 15.4614C13.5403 15.7231 13.038 15.8924 12.5173 15.9596C11.9966 16.0268 11.4677 15.9906 10.961 15.853C10.4544 15.7155 9.97979 15.4794 9.56452 15.1581C9.14926 14.8368 8.80147 14.4368 8.54107 13.9809C8.28068 13.525 8.11279 13.0222 8.04704 12.5013C7.98129 11.9805 8.01897 11.4517 8.15791 10.9454C8.54194 11.228 9.01453 11.3636 9.48997 11.3277C9.96541 11.2917 10.4122 11.0865 10.7494 10.7494C11.0865 10.4122 11.2917 9.96542 11.3276 9.48998C11.3636 9.01454 11.228 8.54195 10.9454 8.15792C11.6237 7.96431 12.3412 7.95486 13.0243 8.13054C13.7075 8.30621 14.3314 8.66067 14.8321 9.15747C15.3328 9.65426 15.6922 10.2755 15.8732 10.9572C16.0542 11.6389 16.0504 12.3565 15.8621 13.0363H15.8608Z" fill="#3366FF"/>
            </svg>

        </li>
    </ul>
    <div class="students_table_footer">
        <p>{{ tableData.length }} tadan 1-1 ko'rsatilmoqda</p>
        <div class="element">
            <div class="select">
                Ko‘rsatish 
                <select name="" id="">
                    <option value="">10</option>
                    <option value="">15</option>
                    <option value="">5</option>
                </select>
            </div>
            <v-pagination
            v-model="page"
            :length="10"
            :total-visible="5"
            ></v-pagination>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    props: ['tableHeader', 'tableData'],
    data() {
        return{
            page: 1,
        }
    },
}
</script>

<style lang="scss" scoped>
.students_table{
    padding-bottom: 30px;
    .btn_plus{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 9px 30px;
        gap: 10px;
        background: #3366FF;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-left: auto;
        margin-top: 28px;
    }
    ul{
        padding-left: 0;
    }
    .students_table_header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 12px;
        margin-top: 25px;
        li{
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            text-transform: uppercase;
            color: #B1B1B8;
            &:nth-child(1){
                margin-right: 30px;
            }
            &:nth-child(2){
                margin-right: 220px;
            }
            &:nth-child(3){
                margin-right: 126px;
            }
            &:nth-child(4){
                margin-right: 112px;
            }
            &:nth-child(5){
                margin-right: 45px;
            }
            &:nth-child(6){
                margin-right: 50px;
            }
            &:nth-child(7){
                margin-right: 56px;
            }
        }
    }
    .students_table_body{
        width: 100%;
        li{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; 
            height: 65px;
            background: #FFFFFF;
            border: 1px solid rgba(46, 91, 255, 0.08);
            border-radius: 8px;
            padding-left: 15px;
            margin-bottom: 12px;
            p{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #1D1D1F;
            }
            h4{
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #1D1D1F;
                span{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    letter-spacing: 1.125px;
                    text-transform: uppercase;
                    color: #B1B1B8;
                    padding-left: 5px;
                }
            }

            .item_id{
                margin-right: 30px;
            }
            .item_name{
                width: 250px;
                padding-right: 20px;
            }
            .item_tur{
                width: 150px;
                text-align: center;
                padding-right: 20px;
            }
            .item_otm{
                width: 240px;
                padding-right: 10px;
                text-align: center;
            }
            .item_price{
                width: 190px;
                padding-right: 20px;
                text-align: center;
            }
            .item_kontrakt{   
                width: 190px;
                padding-right: 20px;
                text-align: center;
            }
            .item_eye{
                width: 60px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .students_table_footer{
        margin-top: 15px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }
        .element{
           display: flex;
            flex-direction: row;
            justify-content: flex-start; 
            align-items: center;
            gap: 20px;
            .select{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                select{
                    width: 54px;
                    height: 32px;
                    background: #FFFFFF;
                    border: 1px solid #DFE3E8;
                    border-radius: 4px;
                    padding: 5px 10px;
                    margin-left: 12px;
                }
            }
        }
    }
}
</style>