<template>
  <div class="sponsors_filter"  @click="$emit('action')" :class="{blok: open === true}">
    <div class="sponsors_filter_card" @click.stop>
       <div class="title">
        <p>Filter</p>
        <svg @click="$emit('action')" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       </div>
       <div class="select">
            <label for="">Ariza holati</label>
            <select name="" id="">
                <option value="">Barchasi</option>
                <option value="">Yangi</option>
                <option value="">Moderatsiyada</option>
                <option value="">Tasdiqlangan</option>
                <option value="">Bekor qilingan</option>
            </select>
        </div>
       <div class="select">
            <label for="">OTM</label>
            <select name="" id="">
                <option value="">Barchasi</option>
                <option value="">TATU</option>
                <option value="">Milliy</option>
                <option value="">Molya</option>
                <option value="">Agrar</option>
            </select>
        </div>
        <div class="hr"></div>
        <div class="btns">
            <button class="btn_clear">
                <span class="icon icon-clear"></span>
                Tozalash
            </button>
            <button class="btn_result">
                <span class="icon icon-eye"></span>
                Natijalarni ko‘rish
            </button>
        </div>
    </div>
  </div>
</template>

<script>

export default {
    name:'HomeModal',
    props:{
        open: {
            type: Boolean,
            default: () => false
        }
    },
    data() {
        return{
            buttonActive: null,
            price: [
                'boshqa',
               '1 000 000',
                '5 000 000',
                '7 000 000',
                '10 000 000',
                '30 000 000',
                '50 000 000',
            ]
        }
    }
}
</script>

<style lang='scss'>
.sponsors_filter{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 30;
    display: none;
    & .sponsors_filter_card{
        background: #fff;
        width: 500px;
        height: 400px;
        border-radius: 12px;
        padding: 28px;
        padding-left: 32px;
        .title{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 25px;
            border-bottom: 2px solid #F5F5F7;
            p{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
            svg{
                cursor: pointer;
            }
        }
        .select{
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            label{
                margin-bottom: 8px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                color: #1D1D1F;
            }
            select{
                width: 100%;
                height: 40px;
                background: #F9FAFF;
                border: 1px solid #2E5BFF;
                border-radius: 5px;
                padding: 8px 16px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
            }
            
        }
        .hr{
            border: 1px solid #F5F5F7;
            margin-top: 28px;
        }
        .btns{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            margin-top: 28px;
            .btn_result{
                background: #3366FF;
                box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
                border-radius: 5px;
                padding: 9px 28px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #fff;
                span{
                    margin-right: 5px;
                }
            }
            .btn_clear{
                padding: 7px 28px;
                border: 1px solid #B2B7C1;
                color: #B2B7C1;
                border-radius: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                span{
                    margin-right: 5px;
                }
            }
        }
    }

}
.blok{
    display: flex;
}
</style>
