<template>
  <div class="student_edit"  @click="$emit('action')" :class="{blok: open === true}">
    <div class="student_edit_card" @click.stop>
       <div class="title">
        <p>Tahrirlash</p>
        <svg @click="$emit('action')" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       </div>
        <div class="input_box">
            <label for="">F.I.Sh. (Familiya Ism Sharifingiz)</label>
            <input type="text" v-model="post.name" placeholder="Familiya ism sharifingiz">
        </div>
        <div class="input_box">
            <label for="">Telefon raqam</label>
            <input type="number"  placeholder="+998 000 00 00">
        </div>
        <div class="input_box">
            <label for="">OTM</label>
            <select name="" id="" v-model="post.otm">
                <option value="O’zbekiston Davlat Jahon Tillari Universiteti">O’zbekiston Davlat Jahon Tillari Universiteti</option>
                <option value="O’zbekiston milliy universiteti">O’zbekiston milliy universiteti</option>
                <option value="TATU">TATU</option>
                <option value="Toshkent moliya instituti">Toshkent moliya instituti</option>
                <option value="Toshkent davlat iqtisodiyot universiteti">Toshkent davlat iqtisodiyot universiteti</option>
                <option value="Nizomiy">Nizomiy</option>
                <option value="Toshkent avtomobil-yo’llari instituti">Toshkent avtomobil-yo’llari instituti</option>
                <option value="Toshkent to’qimachilik va нngil sanoat istituti">Toshkent to’qimachilik va нngil sanoat istituti</option>
                <option value="Toshkent arxitektura-qurilish instituti">Toshkent arxitektura-qurilish instituti</option>
                <option value="Toshkent davlat sharqshunoslik instituti">Toshkent davlat sharqshunoslik instituti</option>
                <option value="O’zbekiston davlat jahon tillari universiteti">O’zbekiston davlat jahon tillari universiteti</option>
                <option value="Toshkent davlat texnika universiteti">Toshkent davlat texnika universiteti</option>
                <option value="Toshkent shahridagi INHA Universiteti">Toshkent shahridagi INHA Universiteti</option>
            </select>
        </div>
        <div class="input_box">
            <label for="">Kontrakt miqdori</label>
            <input type="text" v-model="post.kontrakt" placeholder="30 000 000 UZS" >
        </div>
        <div class="hr"></div>
        <button class="save_btn" @click="save">
            <span class="icon icon-save"></span>
            Saqlash
        </button>
    </div>
  </div>
</template>

<script>
// import talaba from '@/talaba.js'
export default {
    name:'HomeModal',
    props:{
        open: {
            type: Boolean,
            default: () => false
        }
    },
    data() {
        return{
            buttonActive: null,
            postId: this.$route.params.id,
            tableData:  JSON.parse(localStorage.getItem('talaba') || '[]')
        }
    },
    computed: {
        post() {
            return this.tableData.find(post => post.id == this.postId)
        }
    },
    methods:{
        save() {
            let talaba =  JSON.parse(localStorage.getItem('talaba') || '[]')
            talaba.map((item) => {
                if (item.id == this.postId){
                    item.name = this.post.name
                    item.otm = this.post.otm
                    item.kontrakt = this.post.kontrakt
                }
            })
            // talaba.push({...this.post})
            localStorage.setItem('talaba', JSON.stringify(talaba));
             this.$emit('edit-save')
        }

    }
}
</script>

<style lang='scss'>
.student_edit{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 30;
    display: none;
    & .student_edit_card{
        background: #fff;
        width: 550px;
        height: 550px;
        border-radius: 12px;
        padding: 28px;
        padding-left: 32px;
        padding-top: 23px;
        .title{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 18px;
            border-bottom: 2px solid #F5F5F7;
            p{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
            svg{
                cursor: pointer;
            }
        }
        .input_box{
            width: 100%;
            margin-top: 20px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                text-transform: uppercase;
            }
            input, select{
                margin-top: 5px;
                width: 100%;
                height: 40px;
                background: rgba(224, 231, 255, 0.2);
                border: 1px solid #E0E7FF;
                border-radius: 6px;
                padding: 10px 16px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
            }
            input{
                &::placeholder{
                    color: #2e384db2;
                }
            }
        }
        .hr{
            border: 2px solid #F5F5F7;
            margin: 25px 0;
        }
        .save_btn{
            padding: 11px 34px;
            color: #fff;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
            border-radius: 5px;
            background: #3366FF;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-left: 330px;
            span{
                margin-right: 10px;
            }
        }
    }

}
.blok{
    display: flex;
}
</style>
