<template>
  <div class="student_eye">
    <site-header/>
    <person-header :name="post.name" @sponsorAdd="isSponsor = true" :to="'/students'"/>
    <div class="talaba">
      <div class="talaba_title">
        <h3>Tahrirlash</h3>
        <button class="edit_btn" @click="isOpen = true">
         <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_120_1102)">
        <path d="M9 7H6C5.46957 7 4.96086 7.21071 4.58579 7.58579C4.21071 7.96086 4 8.46957 4 9V18C4 18.5304 4.21071 19.0391 4.58579 19.4142C4.96086 19.7893 5.46957 20 6 20H15C15.5304 20 16.0391 19.7893 16.4142 19.4142C16.7893 19.0391 17 18.5304 17 18V15" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9 15H12L20.5 6.49998C20.8978 6.10216 21.1213 5.56259 21.1213 4.99998C21.1213 4.43737 20.8978 3.89781 20.5 3.49998C20.1022 3.10216 19.5626 2.87866 19 2.87866C18.4374 2.87866 17.8978 3.10216 17.5 3.49998L9 12V15Z" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16 5L19 8" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_120_1102">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg>
          Tahrirlash
      </button>
      </div>
      <div class="talaba_info">Asosiy ma’lumotlar</div>
      <div class="user">
        <div class="user_img">
          <img src="@/assets/img/talaba.png" alt="">
        </div>
        <h3>{{ post.name }}</h3>
      </div>
      <p>telefon raqam</p>
      <h4>+998 99 973-72-60</h4>
      <div class="talaba_info2">O‘qish joyi haqida ma’lumot</div>
      <div class="data">
        <div class="data_box">
          <p>OTM</p>
          <h4>{{ post.otm }}</h4>
        </div>
        <div class="data_box">
          <p>Talabalik turi</p>
          <h4>{{ post.tur }}</h4>
        </div>
        <div class="data_box">
          <p>Ajratilingan summa</p>
          <h4>{{ post.price }}</h4>
        </div>
        <div class="data_box">
          <p>Kontrakt miqdori</p>
          <h4>{{ post.kontrakt }}</h4>
        </div>
      </div>
    </div>
    <div class="homiy_content">
      <div class="homiy">
        <h3>Talabaga homiylar</h3>
        <button class="homiy_add_btn" @click="isSponsor = true">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9999 11.9999H4.00007" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 4V19.9999" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Homiy qo‘shish
        </button>
      </div>

      <div class="sponsor_header">
        <p v-for="item in header" :key="item">{{ item }}</p>
      </div>
      <div class="sponsor_body">
        <p>{{ post.sponsor.sponsorName }}</p>
        <p>{{ post.sponsor.price }}</p>
      </div>
    </div>
    
    <div class="bg">
      <img src="@/assets/img/bg.png" alt="">
    </div>
    <student-edit @edit-save="isOpen = false" :open="isOpen" @action="isOpen = false"/>
    <sponsors-add :open="isSponsor" @sponsor-add="isSponsor = false" @save="$router.push({name: '/students-eye', params: {id: post.id} })"/>
  </div>
</template>

<script>
import SiteHeader from '@/components/SiteHeader.vue'
// import talaba from '@/talaba.js'
import PersonHeader from '@/components/PersonHeader.vue'
import StudentEdit from '@/components/StudentsComponent/StudentEdit.vue'
import SponsorsAdd from '@/components/StudentsComponent/SponsorsAdd.vue'

export default {
  components: { SiteHeader, PersonHeader, StudentEdit, SponsorsAdd },
    data() {
        return{
          header: [
            '#', 'f.i.sh.', 'Ajratilingan summa', 'Amallar'
          ],
          isOpen: false,
          isSponsor: false,
          postId: this.$route.params.id,
          tableData: JSON.parse(localStorage.getItem('talaba') || '[]')
        }
    },
    computed: {
        post() {
          return this.tableData.find(post => post.id == this.postId)
        }
    },

}
</script>

<style lang="scss" scoped>
.student_eye{
    width: 100%;
    background: #E5E5E5;
    .talaba{
      width: 730px;
      height: 430px;
      margin: 35px auto;
      border: 1px solid #EBEEFC;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
      border-radius: 12px;
      background: #fff;
      padding: 24px 32px;
      position: relative;
      .talaba_title{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        border-bottom: 1px solid #E4E8F0;
        h3{
          margin-top: 8px;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
        }
       .edit_btn{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 14px;
            padding: 11px 35px;
            background: #EDF1FD;
            border-radius: 5px;
            color: #3365FC;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
      }
      .talaba_info{
        position: absolute;
        top: 75px;
        background: #E5EBFF;
        padding: 2px 11px;
        color: #3366FF;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.125px;
        text-transform: uppercase;
      }
      .talaba_info2{
        position: absolute;
        background: #E5EBFF;
        padding: 2px 11px;
        color: #3366FF;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.125px;
        text-transform: uppercase;
        bottom: 157px;
      }
      .user{
        margin-top: 32px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        .user_img{
          width: 64px;
          height: 64px;
          background: linear-gradient(0deg, #EAECF0, #EAECF0);
          border: 1px solid #E0E7FF;
          border-radius: 6px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        h3{
          width: 180px;
        }
      }
      p{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.125px;
        text-transform: uppercase;
        color: #B5B5C3;
      }
      h4{
        margin-top: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }
      .data{
        margin-top: 20px;
        padding-top: 30px;
        border-top: 1px solid #E4E8F0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        // gap: 25px;
        .data_box{
          width: 50%;
          margin-bottom: 24px;
        }
      }
    }
    .homiy_content{
      background: #FFFFFF;
      width: 730px;
      margin: 0 auto;
      border: 1px solid #EBEEFC;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
      border-radius: 12px;
      padding: 24px 32px;
      .homiy{
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        h3{
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
        }
       .homiy_add_btn{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 14px;
          padding: 11px 35px;
          background: #EDF1FD;
          border-radius: 5px;
          color: #3365FC;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          svg{
              width: 20px;
              height: 20px;
          }
        }
      }
      .sponsor_header{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        p{
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1.125px;
          text-transform: uppercase;
          color: #B1B1B8;
          
          &:nth-child(1){
            margin-right: 25px;
          }
          &:nth-child(2){
            width: 280px;
          }
          &:nth-child(3){
            width: 200px;
          }
          &:nth-child(4){
            width: 150px;
            text-align: right;
          }
        }
      }
      .sponsor_body{
        width: 100%;
        height: 60px;
        background: #FBFBFC;
        border: 1px solid rgba(46, 91, 255, 0.08);
        border-radius: 8px;
         padding: 0 10px;
         margin-top: 12px;
      }
    }
    
    .bg{
      text-align: center;
      img{
        margin: 0 auto;
      
      }
    }
}
</style>