<template>
  <div class="student_add">
    <SiteHeader/>
    <PersonHeader :to="'/students'" :name="`Talaba qo‘shish`" :btn="false" :isCondition="false"/>
    <div class="student">
        <div class="inputs">
            <div class="student_input">
                <label for="">F.I.Sh. (Familiya Ism Sharif)</label>
                <input
                type="text"
                v-model="newTalaba.name"
                placeholder="Familiya ism sharif">
            </div>
            <div class="student_input">
                <label for="">Telefon raqam</label>
                <input
                type="text"
                v-model="newTalaba.tel"
                placeholder="+998 000 00 00">
                
            </div>
            <div class="student_input">
                <label for="">OTM</label>
                <select name="" id="" v-model="newTalaba.otm">
                    <option value="">OTM ni tanlang</option>
                    <option value="TATU">TATU</option>
                    <option value="Milliy">Milliy</option>
                    <option value="Moliya">Moliya</option>
                </select>
            </div>
            <div class="student_input">
                <label for="">Talabalik turi</label>
                <select name="" id="" v-model="newTalaba.tur">
                    <option value="">Barchasi</option>
                    <option value="Bakalavr">Bakalavr</option>
                    <option value="Magister">Magister</option>
                </select>
            </div>
            <div class="student_input" >
                <label for="">Kontrakt summa</label>
                <input type="text"
                v-model="newTalaba.kontrakt"
                placeholder="Summani kiriting">
            </div>
        </div>
        <div class="hr"></div>
        <button class="add_btn" @click="addStudent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9999 11.9999H4.00007" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 4V19.9999" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Qo‘shish
        </button>
    </div>
  </div>
</template>

<script>
import SiteHeader from '@/components/SiteHeader.vue'
import PersonHeader from '@/components/PersonHeader.vue'
export default {
  components: { SiteHeader, PersonHeader },
    data() {
        return{
            newTalaba: {
                id: null,
                tel:'',
                name:'',
                tur:'',
                otm: '',
                kontrakt: '',
                price: '0',
            },
        }
    }, 
    methods: {
        addStudent(){
            if(this.newTalaba.tel.length > 0 && this.newTalaba.name.length > 0  && this.newTalaba.kontrakt.length && this.newTalaba.otm.length > 0 && this.newTalaba.tur.length) {
                let talaba =  JSON.parse(localStorage.getItem('talaba') || '[]')
                this.newTalaba.id = talaba.length + 1
                talaba.push({...this.newTalaba})
                localStorage.setItem('talaba', JSON.stringify(talaba));
                this.newTalaba.id = null,
                this.newTalaba.tel = '',
                this.newTalaba.name = '',
                this.newTalaba.tur = '',
                this.newTalaba.otm = '',
                this.newTalaba.kontrakt = ''
                this.$router.push('/students')
                
            }  else {
                return
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.student_add{
    background: #E5E5E5;
    padding-bottom: 40px;
    .student{
        background: #FFFFFF;
        border: 1px solid #EBEEFC;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
        border-radius: 12px;
        width: 700px;
        height: 402px;
        margin: 0 auto;
        margin-top: 35px;
        padding: 30px;
        .inputs{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            .student_input{
                width: 300px;
                display: flex;
                flex-direction: column;
                &:nth-child(3){
                    width: 100%;
                }
                label{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 1.125px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
                input, select{
                    width: 100%;
                    height: 42px;
                    background: rgba(224, 231, 255, 0.2);
                    border: 1px solid #E0E7FF;
                    border-radius: 6px;
                    padding: 10px 16px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: #2E384D;
                }
                input{
                    &::placeholder{
                        color: rgba(46, 56, 77, 0.35);
                    }
                }
            }
        }
        .hr{
            border: 2px solid #F5F5F7;
            width: 100%;
            margin: 30px 0;
        }
        .add_btn{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 14px;
            padding: 11px 35px;
            background: #3365FC;
            border-radius: 5px;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-left: auto;
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
}
</style>