<template>
  <div class="chart-wrapper">
    <div class="chart_info">
        Homiylar va talabalar soni
    </div>
    <div class="canva-wrapper" height="300px">
        <canvas ref="myChart"></canvas>
    </div>
  </div>
</template>

<script>
import Chart from 'chart.js/auto';
export default {
  name: 'HomeChart',
  props: {
    dataChart: {
      type: Array,
      default: () => [],
    },
    dataChart2: {
      type: Array,
      default: () => [],
    },
    labels: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      myChart: null,
    };
  },
  computed: {
    chartData() {
      return this.dataChart, this.dataChart2;
    },
  },
  watch: {
    '$store.state.theme': {
      immediate: true,
      handler(color) {
        if (this.myChart) {
          const yAxes = this.myChart.config.options.scales.y;

          switch (color) {
            case 'dark':
              yAxes.grid.color = 'rgba(80, 65, 188, 1)';
              break;
            case 'light':
              yAxes.grid.color = 'rgba(80, 65, 188, 1)';
              break;
          }

          this.myChart.update();
        }
      },
    },
  },
  mounted() {
    const ctx = this.$refs.myChart;

    const maxValue = Math.max(...this.chartData);
    const minValue = Math.min(...this.chartData);

    const gradient = ctx.getContext('2d').createLinearGradient(0, 0, 0, 150);
    gradient.addColorStop(0.4, 'rgba(80, 65, 188, .5)');
    gradient.addColorStop(0.6, 'rgba(80, 65, 188, .4)');
    gradient.addColorStop(0.7, 'rgba(80, 65, 188, .3)');
    gradient.addColorStop(0.8, 'rgba(80, 65, 188, .2)');
    gradient.addColorStop(1, 'rgba(80, 65, 188, .1)');

    /// hover in line
    Chart.defaults.hover.intersect = false;
    /// chart data
    const data = {
      labels: this.labels,
      datasets: [
        {
          label: 'Homiylar',
          data: this.chartData,
          borderWidth: 2,
          borderColor: 'rgba(80, 65, 188, .8)',
          backgroundColor: gradient,
          fill: true,
          tension: 0.5,
          pointBorderColor: 'rgba(0, 0, 0, 0)',
          pointBackgroundColor: 'rgba(0, 0, 0, 0)',
          pointHoverBackgroundColor: 'rgba(80, 65, 188, .8)',
          pointHoverBorderColor: 'rgba(80, 65, 188, .8)',
          pointBorderWidth: 5,
          pointhoverBorderWidth: 5,
          pointRadius: 5,
          pointHoverRadius: 5,
        },
        {
          label: 'Talabalar',
          data: this.chartData2,
          borderWidth: 2,
          borderColor: 'rgba(80, 65, 188, .8)',
          backgroundColor: gradient,
          fill: true,
          tension: 0.5,
          pointBorderColor: 'rgba(0, 0, 0, 0)',
          pointBackgroundColor: 'rgba(0, 0, 0, 0)',
          pointHoverBackgroundColor: 'rgba(80, 65, 188, .8)',
          pointHoverBorderColor: 'rgba(80, 65, 188, .8)',
          pointBorderWidth: 5,
          pointhoverBorderWidth: 5,
          pointRadius: 5,
          pointHoverRadius: 5,
        },
      ],
    };
    const tooltipLine = {
      id: 'tooltipLine',
      beforeDraw: (myChart) => {
        if (myChart.tooltip._active && myChart.tooltip._active.length) {
          const ctx = myChart.ctx;
          ctx.save();
          const activepoint = myChart.tooltip._active[0];

          ctx.beginPath();
          ctx.moveTo(activepoint.element.x, activepoint.element.y);
          ctx.lineTo(activepoint.element.x, myChart.chartArea.bottom);
          ctx.lineWidth = 3;
          ctx.strokeStyle = 'rgba(80, 65, 188, .8)';
          ctx.stroke();
          ctx.restore();
        }
      },
    };

    this.myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: { display: false },
          tooltip: {
            enabled: true,
            intersect: false,
            yAlign: 'bottom',
          },
        },
        scales: {
          x: {
            grid: {
              display: false,
            },
          },
          y: {
            grid: {
              borderColor: 'transparent',
              color: 'rgba(139, 145, 157, 0.05)',
              lineWidth: 1.5,
            },
            suggestedMax: maxValue + maxValue * 0.1,
            suggestedMin: minValue - maxValue * 0.1,
          },
        },
      },
      plugins: [tooltipLine],
    });
  },
  beforeDestroy() {
    this.myChart.destroy();
  },
};
</script>

<style lang="scss" scoped>
.chart-wrapper {
    margin-top: 28px;
    background: #fff;
    border-radius: 14px;
    padding: 22px 0;
    padding-left: 38px;
    padding-right: 41px;
    height: 400px;  
    .chart_info{
        margin-bottom: 36px;
    }
    canvas {
        width: 100%;
        flex: 1;
    }
}
.canva-wrapper {
    height: 280px;
}
</style>
