<template>
  <div class="home_pay">
    <div class="home_pay_img">
        <img :src="imgUrl" alt="">
    </div>
    <div class="home_pay_text">
        <p>{{ text }}</p>
        <strong>{{ price }} <span>UZS</span></strong>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        imgUrl: String,
        text: String,
        price: String,
    }
}
</script>

<style lang="scss" scoped>
.home_pay{
    width: 381px;
    height: 96px;
    background: #FFFFFF;
    border: 1px solid rgba(46, 91, 255, 0.08);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    .home_pay_text{
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #7A7A9D;
            margin-bottom: 6px !important;
        }
        strong{
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #2E384D;
            span{
                margin-left: 6px;
                font-weight: 500;
                font-size: 20px;
                line-height: 20px;
                color: #B2B7C1;
            }
        }
    }
}
</style>