<template>
  <div class="petition">
    <enter-header />
    <div class="petition_inner">
        <left-component/>
        <right-component/>
    </div>
  </div>
</template>

<script>
import EnterHeader from '@/components/EnterHeader.vue'
import RightComponent from '@/components/PetitionComponent/RightComponent.vue'
import LeftComponent from '@/components/PetitionComponent/LeftComponent.vue'
export default {
  components: { EnterHeader, RightComponent, LeftComponent },

}
</script>

<style lang="scss" scoped src='./PetitionView.scss'></style>
