<template>
  <div class="login">
    <div class="login_logo">
        <img src="@/assets/img/logospan.png" alt="">
    </div>
    <form action="" @click.prevent='login'>
        <h2>Kirish</h2>
        <div class="form_input">
            <label for="">lOGIN</label>
            <input type="text" placeholder="adm8904">
        </div>
        <div class="form_input">
            <label for="">pAROL</label>
            <input type="password" placeholder="*********">
        </div>
        <the-button type='submit' :blue="true" :theButton="'Kirish'"/>
    </form>
  </div>
</template>

<script>
import TheButton from '@/components/TheButton.vue'
export default {
  components: { TheButton },
    methods: {
        login() {
            this.$router.push('/home')
        }
    }
}
</script>

<style lang="scss" scoped src='./LoginView.scss'>

</style>