.login{
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    .login_logo{
        margin-bottom: 30px;
    }
    form{
        width: 379px;
        height: 400px;
        background: #FFFFFF;
        border: 1px solid #EBEEFC;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
        border-radius: 12px;
        padding: 32px;
        h2{
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #28293D;
            margin-bottom: 20px;
        }
        .form_input{
            margin-top: 20px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.125px;
                color: #1D1D1F;
                text-transform: uppercase;
                margin-bottom: 6px;
            }
            input{
                background: rgba(224, 231, 255, 0.2);
                border: 1px solid #E0E7FF;
                border-radius: 6px;
                width: 100%;
                height: 40px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #2E384D;
                padding: 12px 15px;
                &::placeholder{
                    color: rgba(46, 56, 77, 0.35);
                }
            }
        }
    }
}