<template>
  <header>
        <div class="person_header container">
            <router-link :to="to" class="student_name">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.1663 14H5.83301" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.9997 22.1667L5.83301 14L13.9997 5.83337" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    <h3>{{ name }}</h3> 
                    <button   class="condition"
                    :class="[condition === 'Bekor qilingan' ? 'bekor' : '']"
                    >{{ condition }}</button>
                    <button   class="condition"
                    :class="[condition === 'Tasdiqlangan' ? 'tasdiqlangan' : '']"
                    >{{ condition }}</button>
                    <button   class="condition"
                    :class="[condition === 'Moderatsiyada' ? 'moderatsiyada' : '']"
                    >{{ condition }}</button>
                    <button   class="condition"
                    :class="[condition === 'Yangi' ? 'yangi' : '']"
                    >{{ condition }}</button>
            </router-link>
        
            <button class="homiy_add_btn" @click="$emit('sponsorAdd')" v-if="btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9999 11.9999H4.00007" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 4V19.9999" stroke="#3365FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Homiy qo‘shish
            </button>
        </div>
    </header>
</template>

<script>
export default {
    props: {
        to: String,
        name: String,
        condition: String,
        btn: {
            type: Boolean,
            default: () => true
        },
        isCondition: {
            type: Boolean,
            default: () => false
        }
        
    },

}
</script>

<style lang="scss" scoped>
header{
    height: 85px;
    background-color: #fff;
    .person_header{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .student_name{
            display: flex;
            h3{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                margin-left: 25px;
                color: #28293D;
            }
            .condition{
                padding: 6px 12px;
                margin-left: 10px;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                display: none;
                border-radius: 5px;
            }
            .yangi{
                color: #5BABF2;
                display: block;
                background: #5bacf238;
            }
            .moderatsiyada{
                color: #FFA445;
                display: block;
                background: #ffa54546;
            }
            .tasdiqlangan{
                color: #00CF83;
                display: block;
                background: #DDFFF2;
            }
            .bekor{
                color: #979797;
                display: block;
                background: #97979736;
            } 
            
        }
        .homiy_add_btn{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 14px;
            padding: 11px 35px;
            background: #EDF1FD;
            border-radius: 5px;
            color: #3365FC;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
}
</style>