<template>
  <div class="site_bar">
    <div class="site_bar_inner container">
        <div class="site_bar_btns">
            <router-link to="/home"
                class="btn btn1"
                exact-active-class="btn_active"
               >Dashboard</router-link>
            <router-link to="/sponsors"
            active-class="btn_active"
                class="btn btn2"
                @click="activeBar = 1">Homiylar</router-link>
            <router-link to="/students"
            active-class="btn_active"
              class="btn btn3">Talabalar</router-link>
        </div>
        <div class="site_bar_elements">
            <div class="search">
                <span class="icon icon-search"></span>
                <input type="text" placeholder="Izlash">
            </div>
            <button class="filter" @click="$emit('filter')">
                <span class="icon icon-filter"></span>
                <p>Filter</p>
            </button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'SiteBar',
    data() {
        return{
            activeBar: 0,
        }
    }
}
</script>

<style lang="scss" scoped>
.site_bar{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    .site_bar_inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .site_bar_btns{
            width: 579px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .btn{
                border: 2px solid #E0E7FF;
                border-radius: 6px;
                width: 49.9%;
                height: 100%;
                padding: 12px;
                text-align: center;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                color: rgba(51, 102, 255, 0.6);
            }
            .btn_active{
                background: #3366FF;
                color: #FFFFFF;
                border: 2px solid #3366FF;
            }
            .btn1{
                border-top-right-radius: unset;
                border-bottom-right-radius: unset;
                border-right: none;
            }
            .btn2{
                border-radius: unset;
                border-right: none;
            }
            .btn3{
                border-top-left-radius: unset;
                border-bottom-left-radius: unset;
                border-right: none;
            }
        }
        .site_bar_elements{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            .search{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                background: #E8E8E8;
                border-radius: 5px;
                width: 284px;
                height: 40px;
                padding: 12px;
                input{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: #28293D;
                    &::placeholder{
                        color: #B1B1B8;
                    }
                }
            }
            .filter{
                width: 123px;
                height: 40px;
                background: #EDF1FD;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 11px;
                p{
                    color: #3365FC;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}
</style>