<template>
  <header>
    <div class="site_header container">
        <router-link to="/home" class="logo">
            <img src="@/assets/img/logo.png" alt="logo">
        </router-link>
        <div class="elements">
            <div class="user">
                <h3>User </h3>
                <div class="user_img">
                    <img src="@/assets/img/user.png" alt="">
                </div>

            </div>
            <router-link to="/login"  class="logout">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 16C10 15.7348 10.1054 15.4804 10.2929 15.2929C10.4804 15.1054 10.7348 15 11 15H20V8.5C20 6.5 17.8881 5 16 5H6.5C5.57205 5.00099 4.68238 5.37006 4.02622 6.02622C3.37006 6.68238 3.00099 7.57205 3 8.5V23.5C3.00099 24.428 3.37006 25.3176 4.02622 25.9738C4.68238 26.6299 5.57205 26.999 6.5 27H16.5C17.428 26.999 18.3176 26.6299 18.9738 25.9738C19.6299 25.3176 19.999 24.428 20 23.5V17H11C10.7348 17 10.4804 16.8946 10.2929 16.7071C10.1054 16.5196 10 16.2652 10 16Z" fill="#B1B1B8"/>
                <path d="M28.7069 15.2931L23.7069 10.2931C23.5178 10.1135 23.2661 10.0148 23.0053 10.0182C22.7445 10.0215 22.4954 10.1266 22.311 10.311C22.1266 10.4954 22.0215 10.7445 22.0182 11.0053C22.0148 11.2661 22.1135 11.5178 22.2931 11.7069L25.5856 15H20V17H25.5856L22.2931 20.2931C22.1964 20.3851 22.119 20.4954 22.0655 20.6177C22.0121 20.7401 21.9837 20.8718 21.982 21.0053C21.9803 21.1388 22.0053 21.2712 22.0556 21.3949C22.1059 21.5185 22.1804 21.6308 22.2748 21.7252C22.3692 21.8196 22.4815 21.8941 22.6051 21.9444C22.7288 21.9947 22.8612 22.0197 22.9947 22.018C23.1282 22.0163 23.2599 21.9879 23.3822 21.9345C23.5046 21.881 23.6149 21.8036 23.7069 21.7069L28.7069 16.7069C28.8943 16.5194 28.9995 16.2651 28.9995 16C28.9995 15.7349 28.8943 15.4806 28.7069 15.2931Z" fill="#B1B1B8"/>
                </svg>
            </router-link>
        </div>
    </div>
  </header>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
header{
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.03);
    .site_header{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .elements{
            display: flex;
            gap: 40px;
            .user{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 4px;
                background: #F1F1F3;
                border-radius: 6px;
                width: 133px;
                h3{
                    font-weight: 700;
                    font-size: 13px;
                    color: #28293D;
                    padding-left: 20px;
                }
                .user_img{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background: #00AE69;
                    border-radius: 4px;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
</style>