<template>
  <button class="the_button" @click="$emit('theButton')" :class="{ blue_button: blue }">{{ theButton }}</button>
</template>

<script>
export default {
    props: {
        theButton: String,
         blue: {
            type: Boolean,
            default: () => false
        }

    }
}
</script>

<style lang="scss" scoped>

.the_button{
    border-radius: 6px;
    padding: 8px 30px;
    border: 1px solid #3366FF;
    transition: .4s;
    color: #3366FF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    &:hover{
        background: #3366FF;
        color: #fff;
    }
}
.blue_button{
    width: 100%;
    background: #2E5BFF;
    color: #fff;
    margin-top: 25px;
    transition: .4s;
    &:hover{
        background: #1b4af3;
    }
}
</style>
