.icon {
    display: inline-block;
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    &-check {
        background-image: url("@/assets/icons/check.svg");
    }
    &-clear {
        background-image: url("@/assets/icons/clear.svg");
    }
    &-eye {
        background-image: url("@/assets/icons/eye.svg");
    }
    &-filter {
        background-image: url("@/assets/icons/filter.svg");
    }
    &-logout {
        background-image: url("@/assets/icons/logout.svg");
    }
    &-save {
        background-image: url("@/assets/icons/save.svg");
    }
    &-search {
        background-image: url("@/assets/icons/search.svg");
    }
    &-udalit {
        background-image: url("@/assets/icons/udalit.svg");
    }
}

// .site_bar_acrive{
//     .icon{
//         &-home {
//             background-image: url("@/assets/icons/home_active.svg");
//         }
//         &-users {
//             background-image: url("@/assets/icons/users_active.svg");
//         }
//         &-watch {
//             background-image: url("@/assets/icons/watch_active.svg");
//         }
//         &-set {
//             background-image: url("@/assets/icons/setting_active.svg");
//         }
//     }
// }

// .active_icon{
//     .icon{
//         &-category-light {
//             background-image: url("@/assets/icons/Category.svg");
//         }
//         &-calendar {
//             background-image: url("@/assets/icons/calendar_dark.svg");
//         }
//     }
// }
