@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import 'icons';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #272B30;
    // background: ;
}
.v-application {
    font-weight: 700;
    font-family: 'Rubik', sans-serif !important;
    p{
        margin-bottom: 0 !important;
    }
}
button{
    border: none;
    outline: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

input, textarea, select{
    outline: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

