$black: #363C43;
$primary: #5041BC;
$error: #DE4661;

//v-text-field
$text-field-border-radius: 8px;
$text-field-line-height: 24px;
$text-field-outlined-fieldset-border: 1px solid;
$text-field-filled-full-width-outlined-slot-min-height: 42px;
$text-field-details-margin-bottom: 0 !important;
$input-icon-width: 11px;
$input-icon-min-width: 11px;
$input-font-size: 14px;
@media screen and (max-width:950px){
  $text-field-details-min-height: 1px !important;
  $text-field-details-margin-bottom: 0 !important;
  $input-font-size: 13px;
}

// v-icon 
$icon-size: 20px !default;
$icon-size-dense: 18px !default;

$pagination-item-height:32px !important;
$pagination-item-font-size: 14px !important;