<template>
  <div class="petition_left">
    <div class="petition_left_inner">
        <h1 v-if="activeIndex !== 2">Homiy sifatida ariza topshirish</h1>
        <div class="left_btns" v-if="activeIndex !== 2">
            <button
                class="btn btn1"
                @click="activeIndex = 0"
                :class="{btn_active: activeIndex === 0}">Jismoniy shaxs</button>
            <button
             @click="activeIndex = 1"
              class="btn btn2"
              :class="{btn_active: activeIndex === 1}">Yuridik shaxs</button>
        </div>
        <jismoniy-shaxs v-if="activeIndex === 0" @jismoniyShaxs="activeIndex = 2"/>
        <yuridik-shaxs v-if="activeIndex === 1"
        @yuridikShaxs="activeIndex = 2"/>
        <petition-check v-if="activeIndex === 2"/>
    </div>
    
  </div>
</template>

<script>
import JismoniyShaxs from '@/components/PetitionComponent/JismoniyShaxs.vue'
import YuridikShaxs from '@/components/PetitionComponent/YuridikShaxs.vue'
import PetitionCheck from '@/components/PetitionComponent/PetitionCheck.vue'

export default {
    name:'LeftComponent',
  components: { YuridikShaxs, JismoniyShaxs, PetitionCheck },
  data() {
    return{
        activeIndex: 0,
    }
  }

}
</script>

<style lang="scss" scoped>
.petition_left{
    width: 55%;
    height: 100%;
    .petition_left_inner{
        width: 587px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 50px;
         h1{
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            letter-spacing: 0.01em;
            color: #1D1D1F;
            margin-bottom: 15px;
            margin-right: 60px;
        }
        .left_btns{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            height: 40px;
            background: #FFFFFF;
            .btn{
                border: 2px solid #E0E7FF;
                border-radius: 6px;
                width: 49.9%;
                text-align: center;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                color: rgba(51, 102, 255, 0.6);
            }
            .btn_active{
                background: #3366FF;
                color: #FFFFFF;
                border: 2px solid #3366FF;
            }
            .btn1{
                border-top-right-radius: unset;
                border-bottom-right-radius: unset;
                border-right: none;
            }
            .btn2{
                border-top-left-radius: unset;
                border-bottom-left-radius: unset;
                border-right: none;
            }
        }
    }
   
}
</style>