<template>
  <div class="petition_check">
    <img src="@/assets/img/check.png" alt="">
    <h3>Ma’lumotlar tekshirish uchun yuborildi.</h3>
    <p>Tez orada siz bilan operatorimiz bog’lanib, barcha ma’lumotlarni aniqlashtiradi.</p>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.petition_check{
    margin: 0 auto;
    width: 300px;
    margin-top: 64px;
    text-align: center;
    h3{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #2E384D;
        margin-top: 32px;
        margin-bottom: 8px;
    }
    p{
        color: #B2B7C1;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}
</style>