<template>
  <div class="yuridik_shaxs">
    <div class="yuridik_shaxs_input">
        <label>F.I.Sh. (Familiya Ism Sharifingiz)</label>
        <input type="text" placeholder="Familiya ism sharifingiz">
    </div>
    <div class="yuridik_shaxs_input">
        <label>Telefon raqamingiz</label>
        <input type="number" placeholder="+998 00 000-00-00">
    </div>
    <h3>To‘lov summasi</h3>
    <div class="pay">
        <button 
            v-for="(item, i) in price"
            :key="i"
            @click="buttonActive = i"
            :class="{button_active: i === buttonActive}"
        >{{ item }}<span>Uzs</span>
             <svg class="btn_check" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#2E5BFF"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8466 7.69213L8.86419 13.7093C8.47889 14.0969 7.85513 14.0969 7.47082 13.7093L4.97183 11.1968C4.58752 10.8093 4.58752 10.1819 4.97183 9.79434C5.35712 9.40779 5.98088 9.40779 6.36519 9.79434L8.16751 11.6071L13.4532 6.29065C13.8375 5.90312 14.4613 5.90312 14.8466 6.29065C15.2319 6.6772 15.2319 7.30459 14.8466 7.69213Z" fill="white"/>
            </svg>
        </button>
    </div>
    <div class="yuridik_shaxs_input">
        <label>Tashkilot nomi</label>
        <input type="text" placeholder="Orient group">
    </div>
    <div class="yuridik_shaxs_input" v-if="buttonActive === 5">
        <input type="number" placeholder="Boshqa summa">
    </div>
    <the-button :theButton="'Yuborish'" @theButton="$emit('yuridikShaxs')" :blue="true"/>
  </div>
</template>

<script>
import TheButton from '@/components/TheButton.vue'
export default {
  components: { TheButton },
    name: 'YuridikShaxs',
    data() {
        return{
            buttonActive: null,
            price: [
                '1 000 000',
                '5 000 000',
                '7 000 000',
                '10 000 000',
                '30 000 000',
                'boshqa'
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.yuridik_shaxs{
    width: 586px;
    margin: 0 auto;
    .yuridik_shaxs_input{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        label{
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            color: #1D1D1F;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        input{
            padding: 12px 16px;
            width: 100%;
            color: #2E384D;
            font-weight: 400;
            background: rgba(224, 231, 255, 0.2);
            border: 1px solid #E0E7FF;
            border-radius: 6px;
            height: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            &::placeholder{
                color: rgba(46, 56, 77, 0.35);
            }
        }
    }
    h3{
        margin-top: 25px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.125px;
        text-transform: uppercase;
        margin-bottom: 8px;
        color: #1D1D1F;
    }
    .pay{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        button{
            width: 185px;
            height: 61px;
            background: #F9FAFF;
            border: 1px solid #E0E7FF;
            border-radius: 5px;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            font-weight: normal;
            color: #2E384D;
            position: relative;
            transition: .3s;
            .btn_check{
                display: none;
                position: absolute;
                top: -8px;
                right: -8px;
            }
            span{
                text-transform: uppercase;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #2E5BFF;
                padding-bottom: 5px;
                margin-left: 4px;
                &:last-child{
                    display: none;
                }
            }
        }
        .button_active{
            border: 2px solid #2E5BFF;
            .btn_check{
                display: block;
            }
        }
    }
}
</style>